{{extend 'layout.html'}}


{{block layer01}}

 <div class="container">
	
      <div class="page-header">
  <h1><b>UMASSHvZ</b></h1>
</div>


      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          			{{if missions:}}
	<h2 class="sub-header">Missions</h2>
		<div class="table">
			<table class="table">
			<thead>
				<tr>
                  <th>Number</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                </tr>
              </thead>
			  <tbody>
			 {{num=0}} 
			{{for mission in missions:}}
			{{if isunlocked(mission) and not isover(mission):}}
			 <tr style="background-color: #5cb85c;">
			{{elif isover(mission):}}
			 <tr style="background-color: #999;">
			{{else:}}
			<tr style="background-color: #428bca;">
			 {{pass}}
                  <td>Mission {{=num}}</td>
                  <td>{{=pretty_date(mission.mission_start)}}</td>
                  <td>{{=pretty_date(mission.mission_end)}}</td>
                </tr>
			   {{num+=1}}
             {{pass}}
              </tbody>
            </table>
          </div>
		  {{pass}}
        </div>
        <div class="col-md-5 ">
          		<table class="table table-striped">
                	<thead>
                		<tr>
                            <th colspan="2">Recent Events</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>         
                        <td>
                            <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/124">Nathan Greenberg</a> bit <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/125">Sabrina Dobson</a> </td>
						<td>3 months ago</td>
                    </tr>
                        
                    <tr>         
                        <td>   
                            <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/485">Timothy Hatch</a> bit <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/495">Jason Cambra</a> </td>
						<td>3 months ago</td>
                    </tr>
                        
                    <tr>         
                        <td>    
                            <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/381">Lauren Winter</a> bit <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/58">Casey Wiener</a> </td>
						<td>3 months ago</td>
                    </tr>
                    <tr>         
                        <td>
                            <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/381">Lauren Winter</a> bit <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/229">Jake O'Rielly</a> </td>
						<td>3 months ago</td>
                    </tr>
                    <tr>         
                        <td> 
                            <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/209">Joseph Abate</a> bit <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/72">Alaias De Marchi</a> </td>
						<td>3 months ago</td>
                    </tr>
                    <tr>         
                        <td>
                            <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/209">Joseph Abate</a> bit <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/16">Aedan McCarthy</a> </td>
						<td>3 months ago</td>
                    </tr>
					<tr>         
                        <td>      
                            <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/135">Prime </a> bit <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/141">Kevin Chan</a> </td>
						<td>3 months ago</td>
                    </tr>
                    <tr>         
                        <td>    
                            <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/222">Megan Sorel</a> bit <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/510">Megan Sorel</a> </td>
						<td>3 months ago</td>
                    </tr>    
                    <tr>         
                        <td>    
                            <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/94">Ari Pike</a> bit <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/160">Roi Hill-Cohen</a> </td>
						<td>3 months ago</td>
                    </tr>
                    <tr>         
                        <td>   
                            <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/211">Nicholas Chong</a> bit <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/210">Jake Nascembeni</a> </td>
						<td>3 months ago</td>
                    </tr>
                    <tr>         
                        <td>
                            <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/124">Nathan Greenberg</a> bit <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/184">Tim, the Enchanter</a> </td>
						<td>3 months ago</td>
                    </tr>
                    <tr>         
                        <td>
                            <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/381">Lauren Winter</a> bit <a data-w2p_disable_with="default" href="/pandemic/default/userinfo/27">Harris Miller</a> </td>
						<td>3 months ago</td>
                    </tr>
                        
					<tr>
						<td colspan="2"><a href="/pandemic/gamectrl/eventfeed"><div class="eventbutton">Full Events Feed</div></a></td>
                    </tr>
                    </tbody>
                </table>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <div class="postbox">
            		  <a href="/pandemic/default/view_post/22" title="Click to Display"><div class="postcontainer">Post-game Survey</div></a>
                    	<div class="postinfo">
                            <p>Take a few minutes to let your voice be heard!
						<a href="https://www.surveymonkey.com/s/CBP6S2F">Click here to take the HvZ Survey!</a>
-Thanks!</p>
                    	<p><em>3 months ago</em></p>
                    	</div>

            		  <a href="/pandemic/default/view_post/21" title="Click to Display"><div class="postcontainer">Lavender's Last Stand</div></a>
                    	<div class="postinfo">
                            <p>As she feels the disease course through her veins (ew), Lavender makes her final plee: SAVE ME! The humans have one last chance to save Lavender, if they want to. Meet her outside of Brett at 10:30 and she'll bring you to a magical place where you'll</p>
                    	<p><em>3 months ago</em></p>
                    	</div>
                    	
            		
        		
            		
            		  <a href="/pandemic/default/view_post/20" title="Click to Display"><div class="postcontainer">So this will be a Sneaking Mission?</div></a>
                    	<div class="postinfo">
                            <p>We have now received some top tier intelligence about some of the moves the government is working on at Tobin. Apparently they have a sample of the virus that turns people into tanks, however they have that place under lock-down, so we need to be ver</p>
                    	<p><em>3 months ago</em></p>
                    	</div>

                    <p class="alignleft"><a data-w2p_disable_with="default" href="/pandemic/default/index/1">Older Posts</a></p>
		
	</div>
	
	
	
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


     

    </div><!-- /.container -->




{{end}}


