{{extend 'layout.html'}}
{{block layer01}}
{{include 'admindefault.html'}}
{{end}}

{{block layer02}}
<hr/>

<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 col-sm-offset-3 col-lg-offset-2">



 <table>
	<thead>
		<tr>
        <th>Game Name</th>
         <th>Cure Code</th>
        <th>Expiration</th>
            <th>Used</th>
		<th>Options</th>
        </tr>
	<tbody>
	{{ for cure in cures: }}
        <tr>
        {{expired = isexpired(cure)}}
        <td>{{=db.games(cure.game_id).game_name}}</td>
        <td>{{=cure.curecode}}</td>
            {{if expired:}}
            <td style="background-color:red;">{{=converttotz(cure.expiration)}}</td>
            {{else:}}
            <td style="background-color:green;">{{=converttotz(cure.expiration)}}</td>
            {{pass}}
            {{if cure.used:}}
            <td style="background-color:red;">{{=cure.used}}</td>
            {{else:}}
            <td style="background-color:green;">{{=cure.used}}</td>
            {{pass}}
        <td><a href= "{{=URL(r=request, f='editcure', args=cure.id)}}">  Edit/Delete </a></td>
        </tr>
    {{pass}}
	</tbody>
    </thead>
    </table>

</div>
</div>
</div>


{{end}}


{{block postfooter}}
{{include 'adminfooter.html'}}
{{end}}