{{extend 'layout.html'}}
{{block layer01}}
{{include 'admindefault.html'}}
{{end}}



{{block layer02}}
<p class="admintable"></p>
<hr/>
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 col-sm-offset-2">

 <div class="table-responsive">
			<table id="bigtable" class="table table-responsive">
			<thead>
				<tr>
                  <th>auth_user.id</th>
				  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Handle</th>
				  <th>Actions</th>
                </tr>
              </thead>
			  <tbody>
			 <tr>
				{{for user in users:}}
                  <td>{{=user.id}}</td>
                  <td>{{=user.first_name}}</td>
                  <td>{{=user.last_name}}</td>
                  <td>{{=user.handle}}</td>
				  <td><a href="{{=URL('admin', 'manage_user_parts', args=[user.id])}}" class="btn btn-primary btn-xs" >Game Parts</a></td>
                </tr>
             {{pass}}
              </tbody>
            </table>
          </div>

 
 
 
 
</div>
</div>
</div>

{{end}}

{{block postfooter}}
{{end}}
