{{extend 'layout.html'}}
{{block layer01}}
{{include 'admindefault.html'}}
{{end}}

{{if auth.has_membership(auth.id_group('admins'),auth.user.id):}}
        {{admin=True}}
        {{else:}}
        {{admin=False}}
        {{pass}}


{{block layer02}}
<p class="admintable"></p>
<hr/>
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 col-sm-offset-2">

 <div class="table-responsive">
			<table id="bigtable" class="table table-responsive">
			<thead>
				<tr>
                  <th>auth_user.id</th>
				  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Handle</th>
				  <th>Actions</th>
                </tr>
              </thead>
			  <tbody>
			 <tr>
				{{for user in users:}}
                  <td><a href="{{=URL('admin', 'edituser', args=[user.id])}}" class="btn btn-default btn-xs" >{{=user.id}}</a></td>
                  <td>{{=user.first_name}}</td>
                  <td>{{=user.last_name}}</td>
                  <td>{{=user.handle}}</td>
				  <td><a href="{{=URL('admin', 'manage_user_parts', args=[user.id])}}" class="btn btn-primary btn-xs" >Game Parts</a>
                      {{if admin:}}
                      <a href="{{=URL('admin', 'makemod', args=[user.id])}}" class="btn btn-warning btn-xs" >Grant Mod</a>
                      {{pass}}
                  </td>
                </tr>
             {{pass}}
              </tbody>
            </table>
          </div>

 
 
 
 
</div>
</div>
</div>

{{end}}

{{block postfooter}}
        <script>



        </script>
{{end}}
