{{extend 'layout.html'}}
{{block layer01}}
{{include 'admindefault.html'}}
{{end}}

<hr/>
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 col-sm-offset-3 col-lg-offset-2">




	<table>
	<thead>
	</tbody>
	{{ for squad in squadsapp: }}
        {{if not squad.reviewed:}} 
			{{if auth.is_logged_in() == True and auth.has_membership('admins'):}}
        	{{creator=db.auth_user(db.game_part(squad.leader).user_id)}}     
			<tr>
       		<th>{{=db.games(squad.game_id).game_name}}</th>
        	<th>{{=squad.name}}</th>
        	<th>{{=A(creator.first_name + ' ' + creator.last_name,  _href=URL(c='default',f='userinfo',args=creator.id))}}</th>
			<th>{{=A('Image', _href=URL(c='default',f='download', args=squad.image))}}</th>
        	<th><INPUT type="button" class="btn btn-success btn-xs" value="Approve" onclick="location.href='{{=URL(c='admin', f='approvesquadapp', args=[squad.id])}}'"/></th>
        	<th><INPUT type="button" class="btn btn-danger btn-xs" value="Deny" onclick="location.href='{{=URL(c='admin', f='denysquadapp', args=[squad.id])}}'"/></th>
        	</tr>
    		{{pass}}                
    	{{pass}}
	{{pass}}
	</tbody>
        </thead>
    </table>


</div>
</div>
</div>


{{block postfooter}}
{{include 'adminfooter.html'}}
{{end}}
