{{extend 'layout.html'}}
{{block layer01}}
{{include 'admindefault.html'}}
{{end}}

{{block layer02}}
<hr>
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 col-sm-offset-3 col-lg-offset-2">



    {{if squadsapp:}}
	<table class="table" id="bigtable">
	<thead>
    <tr>
        <th>Game</th>
        <th>Squad Name</th>
        <th>Creator</th>
        <th>Image</th>
        <th colspan="2">Options</th>

    </tr>
    </thead>
    <tbody>
	{{ for squad in squadsapp: }}
			<tr>
       		<td>{{=squad.games.game_name}}</td>
        	<td>{{=squad.squads_app.name}}</td>
        	<td>{{=A(squad.auth_user.first_name + ' ' + squad.auth_user.last_name,  _href=URL(c='default',f='userinfo',args=squad.auth_user.id))}}</td>
			<td>{{=A('Image', _href=URL(c='default',f='download', args=squad.squads_app.image))}}</td>
        	<td><INPUT type="button" class="btn btn-success btn-xs" value="Approve" onclick="location.href='{{=URL(c='admin', f='approvesquadapp', args=[squad.squads_app.id])}}'"/></td>
        	<td><INPUT type="button" class="btn btn-danger btn-xs" value="Deny" onclick="location.href='{{=URL(c='admin', f='denysquadapp', args=[squad.squads_app.id])}}'"/></td>
        	</tr>
	{{pass}}

	</tbody>

    </table>
    {{else:}}
    <h2>No Squad Applications Pending</h2>
    {{pass}}

</div>
</div>
</div>
{{end}}


{{block postfooter}}
{{end}}
