*.table
*.bak
*.log
*.sqlite
*.pdf
*.py.1
*.html.1
*.scss
*.rb
.idea/
static/sass
models/db.py
sessions/
errors/
uploads/
static/uploads/
cache/
cron/
private/
static/images/
modules/fbappauth.py
modules/fbappauth.pyc
modules/fbappauth.py.bak
models/mailer.py
models/mailer.py.bak
static/.sass-cache/
static/fonts/
static/images/
databases/
languages/
static/js/