{{extend 'layout.html'}}
{{block layer01}}
{{include 'admindefault.html'}}
{{end}}


{{block layer02}}
<hr/>
<div class="container-fluid">
    <div class="row" id="defaultview">

        <hr>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-3 .col-md-push-2  panel">
            {{try:}}
            <h3>{{=session.flash}}</h3>
            {{session.flash = ''}}
            {{except:}}

            {{pass}}


            {{try:}}
            {{=form}}
            {{except:}}
            {{pass}}


        </div>
    </div>
</div>
{{end}}

{{block postfooter}}
{{end}}
