@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Montserrat);




$hvzfont: 'Carme', sans-serif;
$arial: Arial, sans-serif;


$monsterrat: 'Montserrat', sans-serif;
$aqua: #4FC1E9;
$lightaqua: #46b9e1;
$darkaqua: #3BAFDA;

$grass: #A0D468;
$darkgrass: #8CC152;

body {
    padding-top:70px;


}


input, select, textarea{
color: black;
}

textarea{

   width:100%;
}

.roundcorners {

    border-radius: 5px;

    }

@media (min-width: 768px) {
.mapcanvas {

    height: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    display:block;

}

}

@media (min-width:480px) and (max-width: 768px) {
.mapcanvas {

    height: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    display:block;

}

}

@media (max-width: 480px) {
.mapcanvas {

    height: 500px;
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0px;
    display:block;

}

}




.container-panel {
  padding-left: 15px;
  padding-right: 15px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.margin-xs {
 margin:5px;
}

.margin-sm {
 margin:15px;
}

.margin-md {
 margin:25px;
}

.margin-lg {
 margin:35px;
}

.margin-top {
    margin-top: 15px;
}

.margin-bot {
    margin-bottom: 15px;
}
.margin-left {
    margin-left: 15px;
}

.press {
		color: #222;
	text-shadow: 0px 2px 3px #555;
}

.hvzfont {
    font-family: $hvzfont;

}

.hvzbigheader {
	font-family: $arial;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	color: #000;
	letter-spacing: 0.1em;
	font-size:3em;
	top:7px;
	left:10px;
	position:absolute;
	
}

#loginnavbutton {
	color: white;
	background-color: $aqua;
	margin:10px;
	padding-top:5px;
	padding-bottom:5px;
	border: 1px solid white;

}

.bitetext {
	padding:5px;
	text-align:center;
	color:orange;
 }


.form-control {
color: black;
}

.badge-primary {
background-color: #428bca;
}
.badge-success {
background-color: #5cb85c;
}
.badge-info {
background-color: #5bc0de;
}
.badge-warning {
background-color: #f0ad4e;
}
.badge-danger {
background-color: #d9534f;
}
.badge-default {
background-color: #999;
}


.navbartext {
font-size: 1.3em;

}





/* datetimepicker styles */

.ui-timepicker-div {
  .ui-widget-header {
    margin-bottom: 8px;
  }
  dl {
    text-align: left;
    dt {
      float: left;
      clear: left;
      padding: 0 0 0 5px;
    }
    dd {
      margin: 0 10px 10px 45%;
    }
  }
  td {
    font-size: 90%;
  }
}

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.ui-timepicker-rtl {
  direction: rtl;
  dl {
    text-align: right;
    padding: 0 5px 0 0;
    dt {
      float: right;
      clear: right;
    }
    dd {
      margin: 0 45% 10px 10px;
    }
  }
}
/* timepicker styles end */




.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
}


/* Smartphones (portrait and landscape) ----------- */
@media (min-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

.container-wide {
    margin-left:auto;
	margin-right:auto;
	@media (min-width: 1200px) {
	width: 1200px;
	}
	@media (min-width: 1200px) {
    width: 1200px;
	}
	@media (min-width: 1400px) {
    width: 1400px;
	}

}

.squaditem {
    margin-bottom: 0px;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.centertext {
    text-align:center;
}


.navmenubutton {

    padding-right:0px;
}


.markItUp {
  * {
    margin: 0px;
    padding: 0px;
    outline: none;
  }
  a {
    &:link, &:visited {
      color: #000;
      text-decoration: none;
    }
  }
  width: 100%;
  margin: 5px 0 5px 0;
  border: 5px solid #F5F5F5;
}

.markItUpContainer {
  border: 1px solid #3C769D;
  background: white url(images/bg-container.png) repeat-x top left;
  padding: 5px 5px 2px 5px;
  font: 11px Verdana, Arial, Helvetica, sans-serif;
}

.markItUpEditor {
  font: 12px 'Courier New', Courier, monospace;
  padding: 5px 5px 5px 35px;
  border: 3px solid #3C769D;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  background: white url(images/bg-editor.png) no-repeat;
  clear: both;
  line-height: 18px;
  overflow: auto;
}

.markItUpPreviewFrame {
  overflow: auto;
  background-color: #FFFFFF;
  border: 1px solid #3C769D;
  width: 99.9%;
  height: 300px;
  margin: 5px 0;
}

.markItUpFooter {
  width: 100%;
  cursor: n-resize;
}

.markItUpResizeHandle {
  overflow: hidden;
  width: 22px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(images/handle.png);
  cursor: n-resize;
}

.markItUpHeader ul {
  li {
    list-style: none;
    float: left;
    position: relative;
    ul {
      display: none;
    }
    &:hover > ul {
      display: block;
    }
  }
  .markItUpDropMenu {
    background: transparent url(images/menu.png) no-repeat 115% 50%;
    margin-right: 5px;
    li {
      margin-right: 0px;
    }
  }
  .markItUpSeparator {
    margin: 0 10px;
    width: 1px;
    height: 16px;
    overflow: hidden;
    background-color: #CCC;
  }
  ul {
    .markItUpSeparator {
      width: auto;
      height: 1px;
      margin: 0px;
    }
    display: none;
    position: absolute;
    top: 18px;
    left: 0px;
    background: #F5F5F5;
    border: 1px solid #3C769D;
    height: inherit;
    li {
      float: none;
      border-bottom: 1px solid #3C769D;
    }
    .markItUpDropMenu {
      background: whitesmoke url(images/submenu.png) no-repeat 100% 50%;
    }
    ul {
      position: absolute;
      top: -1px;
      left: 150px;
      li {
        float: none;
      }
    }
  }
  a {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -10000px;
    background-repeat: no-repeat;
    padding: 3px;
    margin: 0px;
  }
  ul a {
    display: block;
    padding-left: 0px;
    text-indent: 0;
    width: 120px;
    padding: 5px 5px 5px 25px;
    background-position: 2px 50%;
    &:hover {
      color: #FFF;
      background-color: #3C769D;
    }
  }
}


.html .markItUpEditor {
  background-image: url(images/bg-editor-html.png);
}

.markdown .markItUpEditor {
  background-image: url(images/bg-editor-markdown.png);
}

.textile .markItUpEditor {
  background-image: url(images/bg-editor-textile.png);
}

.bbcode .markItUpEditor {
  background-image: url(images/bg-editor-bbcode.png);
}

.wiki .markItUpEditor, .dotclear .markItUpEditor {
  background-image: url(images/bg-editor-wiki.png);
}

.markItUp {
  .markItUpButton1 a {
    background-image: url(images/h1.png);
  }
  .markItUpButton2 a {
    background-image: url(images/h2.png);
  }
  .markItUpButton3 a {
    background-image: url(images/h3.png);
  }
  .markItUpButton4 a {
    background-image: url(images/h4.png);
  }
  .markItUpButton5 a {
    background-image: url(images/h5.png);
  }
  .markItUpButton6 a {
    background-image: url(images/h6.png);
  }
  .markItUpButton7 a {
    background-image: url(images/paragraph.png);
  }
  .markItUpButton8 a {
    background-image: url(images/bold.png);
  }
  .markItUpButton9 a {
    background-image: url(images/italic.png);
  }
  .markItUpButton10 a {
    background-image: url(images/stroke.png);
  }
  .markItUpButton11 a {
    background-image: url(images/list-bullet.png);
  }
  .markItUpButton12 a {
    background-image: url(images/list-numeric.png);
  }
  .markItUpButton13 a {
    background-image: url(images/list-item.png);
  }
  .markItUpButton14 a {
    background-image: url(images/picture.png);
  }
  .markItUpButton15 a {
    background-image: url(images/link.png);
  }
  .clean a {
    background-image: url(images/clean.png);
  }
  .preview a {
    background-image: url(images/preview.png);
  }
}



/* comviewer component styles */

div.comviewer {

    width:600px;
    height:550px;
    background: $aqua;

    div#comnavbar {
        background-color: $darkaqua;
		width: 100px;
		height:100%;
		padding:0px;
		}

		ul#comnavlist {
            padding:0px;
			list-style: none;
		}

		ul#comnavlist li {

			width:100px;
			height:100px;
		}

		ul#comnavlist li a {
			text-decoration: none;
			width:100px;
			height:100px;
			padding:0px;
			font-size:25px;
			font-family:arial;
			text-align:center;
			line-height:100px;
			border:none;
			background-color: $darkaqua;
			display:block;
			color:#fff;
		}

		ul#comnavlist li a:hover {

			background-color: $aqua;
		}


}



/* sidr menu component styles */


#mobile-header {
    height:50px;
    display: none;
    background: #333;
    color: #fff;

    padding-top:0px;
    ul {
        margin:0px;
        list-style:none;
        padding-top:5px;

        li {
            float:right;
            height:45px;
            width:45px;
            display:inline-block;

        }
    }

}


.responsive-button {
    span {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    font-size:38px;
    color: #fff;
    background-color: transparent;
    :hover {
        color: $aqua;
        cursor: pointer;
        cursor: hand;
    }
}




#sidemenu-button {
    margin-left:5px;
    float:left;
    text-decoration: none;
    font-size:40px;
    color: #fff;
    background-color: transparent;
    :hover {
        color: $aqua;
        cursor: pointer;
        cursor: hand;
        background-color: transparent;
        text-decoration: none;
    }

}

.responsive-menu-button {
    color: #fff;
    background-color: transparent;
    span {
        font-size:38px;
        color: #fff;
    }
    span:hover {
            color: $aqua;
        }
    :hover {

        cursor: pointer;
        cursor: hand;
    }
}



@media (max-width: 767px) {
  #navigation {
    display: none;
  }

  #mobile-header {
    display: block;
    position: absolute;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;
  }
}

#mobile-header {
    display: none;
}
@media (max-width: 767px){
    #mobile-header {
        display: block;
    }
}



div#sidemenu {
    display:none;
    width:100%;
    height:100%;

    div#sidemenubar {
        background-color: $darkaqua;
		width:75px;
		height:100%;
		padding:0px;
		}

		ul#sidemenulist {
            padding:0px;
			list-style: none;
		}

		ul#sidemenulist li {

			width:75px;
			height:75px;
		}

		ul#sidemenulist li a {
			text-decoration: none;
			width:75px;
			height:75px;
			padding:0px;
			font-size:15px;
			font-family:arial;
			text-align:center;
			line-height:75px;
			border:none;
			background-color: $darkaqua;
			display:block;
			color:#fff;
		}

		ul#sidemenulist li a:hover {

			background-color: $aqua;
		}


}


.sidr {
  /* Default Settings */
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 75px;
  overflow-x: none;
  overflow-y: auto;
  /* Theme Settings */
  font-family: $monsterrat;
  font-size: 20px;
  background: #333333;
  color: white;
}

.sidr .sidr-inner {
  padding: 0 0 15px;
}

.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px;
}

.sidr.right {
  left: auto;
  right: -75px;
}

.sidr.left {
  left: -75px;
  right: auto;
}

.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 {
  font-size: 11px;
  font-weight: normal;
  padding: 0 15px;
  margin: 0 0 5px;
  color: white;
  line-height: 24px;
}

.sidr p {
  font-size: 13px;
  margin: 0 0 12px;
}

.sidr p a {
  color: rgba(255, 255, 255, 0.9);
}

.sidr > p {
  margin-left: 15px;
  margin-right: 15px;
}

.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
}

.sidr ul li {
  display: inline-block;
  margin: 0;
  line-height: 32px;
  width:75px;

}

.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
  border-top: none;
  line-height: 32px;
}



.sidr ul li a {
    text-decoration: none;
    width:75px;
    height:75px;
    padding:0px;
    font-size:40px;
    font-family:arial;
    text-align:center;
    line-height:82px;
    display:block;
    color:#fff;
}

.sidr ul li ul {
  border-bottom: none;
  margin: 0;
}

.sidr ul li ul li {
  line-height: 25px;
  font-size: 13px;
}

.sidr ul li ul li:last-child {
  border-bottom: none;
}

.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
  border-top: none;
  line-height: 25px;
}


.sidr ul li ul li a {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 25px;
}

.sidr form {
  margin: 0 15px;
}

.sidr label {
  font-size: 13px;
}


.sidr input[type="text"],
.sidr input[type="password"],
.sidr input[type="date"],
.sidr input[type="datetime"],
.sidr input[type="email"],
.sidr input[type="number"],
.sidr input[type="search"],
.sidr input[type="tel"],
.sidr input[type="time"],
.sidr input[type="url"],
.sidr textarea, .sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  display: block;
  clear: both;
}

.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none;
}

.sidr input[type=button],
.sidr input[type=submit] {
  color: #333333;
  background: white;
}

.sidr input[type=button]:hover,
.sidr input[type=submit]:hover {
  background: rgba(255, 255, 255, 0.9);
}


/* stuff for testing the layout  */

.item {
  margin-bottom: 10px;
  margin-top: 10px;

}

@media (max-width: 700px){
    .item-content {
        padding-left:0px;
        padding-right:0px;
    }
    .item {
    padding-left:0px;
    padding-right:0px;
    }
}

.item-content {
    padding:5px;

}

#indexlayout {
    margin: 0;
	padding: 0;
	border: 0;
}


