{{extend 'layout.html'}}


{{block layer01}}

 
<div class="container-fluid margin-top">

    <div class="row" id="defaultview">

       
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 roundcorners">
<div id="askmenu" class="panel container-panel">
            {{try:}}
            <h3>{{=session.flash}}</h3>
            {{session.flash = ''}}
            {{except:}}

            {{pass}}


            {{try:}}
            {{=form}}
            {{except:}}
            {{pass}}

            
                <h4 class="bitetext">
					<strong>
						Where did the bite happen?
					</strong> 
				</h4>
                <INPUT type="button" class="button btn-primary btn-block margin-bot btn" id="a" onclick="atLoc()" value="At my current location"/>
				<h4 class="bitetext">
					<strong>
						Or show us on the map.
					</strong> 
				</h4>
			
		
				

            </div>

        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

            <div id="map-canvas" class="mapcanvas margin-bot"></div>
			
        </div>


    </div>


</div>

{{end}}


{{block postfooter}}
<script src="{{=URL('static','js/jquery-1.11.0.min.js')}}"></script>
<script src="{{=URL('static','js/jquery-ui-1.10.4.custom.min.js')}}"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false?key={AIzaSyCFUgFQk4aeR8NBAXjQ60iB8T0IauM4UYs}"></script>

<script>


    var $minShare = {{=gameinfo.minShare()}};
    var $maxShare = {{=gameinfo.maxShare()}};


var $sliderdiv = $( "<div id='slider'/>" );
var $slidertd = $( "<td colspan=3 id='slidertd'/>" );
var $slidertr = $( "<tr id='slidertr'/>" );
var $slidertotaltd = $( "<td colspan=3 id='slidertotaltd'/>" );
var $slidertotal = $( "<h4 class='bitetext' id='slidertotal'><strong id='slidertext'>Use the Slider to choose how much time to save in your biteshare</strong></h4>" );
$( "#no_table_timeshared__row" ).hide();

$('#no_table_share').change(
function() {
    if ($(this).is(':checked')) {
       $( "#no_table_timeshared__row" ).show();
       $( "#no_table_timeshared__row > td" ).hide();
       $( '#no_table_timeshared__row' ).append( $slidertotaltd );
       $('#slidertotaltd').append( $slidertotal );

       $('#no_table_timeshared__row').after( $slidertr );
       $('#slidertr').append( $slidertd );
       $('#slidertd').append( $sliderdiv );

        $(function() {
        $( "#slider" ).slider({
          min: $minShare,
          max: $maxShare,
          step: 3600,
          slide: function( event, ui ) {
        $( "#no_table_timeshared" ).val( ui.value );
        $( "#slidertext" ).text( "Set aside " + ((ui.value/60)/60) + " Hours of brains" );
      }

    });
$( "#slider" ).css('background', 'rgb(245,0,241)');
  });
    }
    else {
        $( "#slidertr" ).empty();
        $( "#no_table_timeshared__row" ).hide();
        $( "#slidertotaltd").remove();
    }
});


$( "#no_table_Bitecode" ).attr("onclick","this.select();");
$( "table" ).addClass( "roundcorners table-no-border" );
$( ":submit" ).addClass('btn-block btn-danger');
$( ":submit" ).hide();
$( "#submit_record__row > .w2p_fl, .w2p_fc" ).hide();
$( "#submit_record__row > td" ).attr("colspan","3");


var map;
var marker = null;	
var styles = [
  {
    "featureType": "poi",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "stylers": [
      { "invert_lightness": true },
      { "visibility": "on" },
      { "weight": 2 },
      { "hue": "#00a1ff" }
    ]
  }
];
function initialize() {

	var mapOptions = {
		styles: styles,
		zoom: 16,
		center: new google.maps.LatLng(42.39088182665314,-72.52500057220459 ),
		scrollwheel: false,
		mapTypeControl: false,
		panControl: false,
		zoomControl: true,
		zoomControlOptions: {
			style: google.maps.ZoomControlStyle.DEFAULT,
			position: google.maps.ControlPosition.TOP_RIGHT
		},
		scaleControl: true,
		streetViewControl: false,
	};

	map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
	google.maps.event.addListener(map, 'click', function(e) {
		
		$( "input[name='Lat']" ).attr( "value", e.latLng.lat() );
		$( "input[name='Long']" ).attr( "value",  e.latLng.lng() );
		$( ":submit" ).show();
			
		if (marker) { marker.setMap(null); }
		 marker = new google.maps.Marker({ position: e.latLng, map: map});
	});

}



function atLoc() {
    if (navigator.geolocation) {
    // Use method getCurrentPosition to get coordinates
    navigator.geolocation.getCurrentPosition(function (position) {
		console.log("hello");
        $( "input[name='Lat']" ).attr( "value", position.coords.latitude );
        $( "input[name='Long']" ).attr( "value",  position.coords.longitude );
		$( ":submit" ).show();
    });
};
}



google.maps.event.addDomListener(window, 'load', initialize);
</script>
{{end}}