{{extend 'layout.html'}}


{{block layer01}}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-9">
            <h1 class="page-header">Bite Shares</h1>

            <div class="panel ">
                <table class="table table-condensed rounded">
                    <thead>
                    <tr>
                        <th colspan="2">
                            Bite Share Log
                        </th>

                    </tr>
                    </thead>
                    <tbody>

                    {{for bite in savedbites:}}
                    <tr>
                        {{if bite.bite_share.is_share_used:}}
                        <td colspan="2">

                            Created {{=pretty_date(bite.bite_share.created)}}
                            <p>Shared @ {{=bite.bite_share.shared_at}} with {{=A(bite.auth_user.first_name + ' ' + bite.auth_user.last_name,  _href=URL(c='default',f='userinfo', args=bite.auth_user.id))}}</p>

                        </td>

                        {{elif bite.bite_share.created > (getesttime() - timedelta(hours=36)):}}
                            <td colspan="2">

                            <!--calculate the time remaining-->
                            {{mins = bite.bite_share.time_shared/60}}
                            {{diff = getesttime() - bite.bite_share.created}}
                            {{newdiff = 36 - int(((diff.total_seconds()/60)/60))}}
                            {{minsleft = mins/36}}
                            {{timeleft = minsleft*newdiff}}


                            <!--calculate the values for the progressbar-->
                            {{cval=float(timeleft)/float(mins)}}
                            {{dval = cval*100}}

                            Created {{=pretty_date(bite.bite_share.created)}}
                            <p>Value of share:</p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" role="progressbar"
                                     aria-valuenow="{{=int(dval)}}"
                                     aria-valuemin="0" aria-valuemax="100" style="width: {{=int(dval)}}%; color:black;">
                                    <b>{{=timeleft}} mins</b>
                                </div>
                            </div>

                            <a href="{{=URL('gamectrl', 'shareabite', args=[bite.bite_share.id])}}"
                                               class="btn btn-danger btn-xs">Share this bite</a>

                        </td>
                        {{elif bite.bite_share.created < (getesttime() - timedelta(hours=36)):}}
                         <td colspan="2">
                            Created {{=pretty_date(bite.bite_share.created)}}
                            <p style="color:red;">ROTTED</p>


                         </td>
                        {{pass}}


                    </tr>

                    {{pass}}
                    </tbody>
                </table>

            </div>


        </div>
    </div>
</div>


{{end}}

{{block postfooter}}

{{end}}
