{{extend 'layout.html'}}


{{block layer01}}
<style>
    #headtxt {
    display:none;
    color:white;
    }
</style>
<div class="container-fluid">
    <div class="row" id="defaultview">

        <hr>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 roundcorners">

            {{try:}}
            <h3>{{=session.flash}}</h3>
            {{session.flash = ''}}
            {{except:}}

            {{pass}}


            {{try:}}
            {{=form}}
            {{except:}}
            {{pass}}

            <div id="askmenu" class="panel container-panel">
                <p>Are you at the location of the bite?</p>
                <INPUT type="button" class="button btn-primary  margin-bot btn" id="a" onclick="atLoc()" value="Yes"/>
                <INPUT type="button" class="button btn-info margin-bot btn" id="b" onclick="selectLoc()" value="No"/>
            </div>

        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <p id="headtxt">Pick the spot where the bite occurred</p>

            <div id="map-canvas" class="mapcanvas"></div>
        </div>


    </div>


</div>

{{end}}


{{block postfooter}}


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<p class="loadgeo"></p>
<script>
    var $minShare = {{=gameinfo.minShare()}};
    var $maxShare = {{=gameinfo.maxShare()}};
</script>
{{end}}