{{extend 'layout.html'}}


{{block layer01}}

        <hr/>
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 col-sm-offset-1 col-lg-offset-1">

<div class="jumbotron" style="background-color:white;border-radius: 5px;">
  <div style='padding:5px;' id="qrcode"></div>
            <h4 style='color:white;'>{{=gpart.game_part.bitecode}}</h4>



</div>
</div>
</div>
</div>
{{end}}


{{block postfooter}}


<script src="{{=URL('static','js/qrcode.js')}}"></script>
<script>

if (navigator.geolocation) {
    // Use method getCurrentPosition to get coordinates
    navigator.geolocation.getCurrentPosition(function (position) {
    var lat = position.coords.latitude;
    var long = position.coords.longitude;

    var tail = "{{=gpart.game_part.bitecode}}/" + lat.toString() + "/" + long.toString();
        console.log(tail )
        new QRCode(document.getElementById("qrcode"), {
        text: "http://localhost:8000/pandemic/gamectrl/bitecodepg/" + tail,
        width: 300,
        height: 300,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.L
    });
    });
};




</script>


{{end}}