{{extend 'layout.html'}}


{{block layer01}}

        <hr/>
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div class="jumbotron" style="background-color:white;border-radius: 5px;">

  <div class=" hidden-xs" id="qrcode"></div>
  <div class=" visible-xs" id="qrcode2"></div>
            <h4 style='color:black;'>{{=gpart.game_part.bitecode}}</h4>


</div>
</div>
</div>
</div>
{{end}}


{{block postfooter}}


<script src="{{=URL('static','js/qrcode.js')}}"></script>
<script>

if (navigator.geolocation) {
    // Use method getCurrentPosition to get coordinates
    navigator.geolocation.getCurrentPosition(function (position) {
    var lat = position.coords.latitude;
    var long = position.coords.longitude;

    var tail = "{{=gpart.game_part.bitecode}}/" + lat.toString() + "/" + long.toString();

        new QRCode(document.getElementById("qrcode"), {
        text: "http://localhost:8000/pandemic/gamectrl/bitecodepg/" + tail,
        width: 350,
        height: 350,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.L
    });
    var tail2 = "{{=gpart.game_part.bitecode}}/" + lat.toString() + "/" + long.toString();

        new QRCode(document.getElementById("qrcode2"), {
        text: "http://localhost:8000/pandemic/gamectrl/bitecodepg/" + tail,
        width: 220,
        height: 220,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.L
    });
    });
};




</script>


{{end}}