{{extend 'layout.html'}}


<hr/>
<div class="container-fluid" id="defaultview">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 col-sm-offset-1 col-lg-offset-1">

            <div class="jumbotron" style="background-color:#181818;border-radius: 5px;">
                <h1>Register here!</h1>

                <p>{{=askemail}}</p>


                {{if form:}}
                <div class='inline'>
                    {{=form}}
                </div>
                {{pass}}

                <h3>
                    <p>
                        {{=A("Don't have a Five College email?", _href=URL(c='gamectrl',f='registerrequest'))}}
                    </p>

                    {{=A("Never got your Code? Try again here.", _href=URL(c='gamectrl',f='resetregistration'))}}

                </h3>
            </div>
        </div>
    </div>
</div>

{{block postfooter}}
<script type="text/javascript" charset="utf-8">
$( "input" ).addClass( "form-control" );
$( "textarea" ).addClass( "form-control" );
$( "select" ).addClass( "form-control" );
$( "table" ).addClass( "table table-no-border" );
$( ".web2py_breadcrumbs" ).hide();
$( "#submit_record__row td.w2p_fl" ).remove();
$( "#submit_record__row td.w2p_fc" ).remove();
$( "#submit_record__row td.w2p_fw" ).attr( "colspan", "3");
$( "table" ).addClass( "table table-no-border" );


</script>

{{end}}

