{{include 'header.html'}}
{{lid=gpart.user_id}}


    <div class='squadbodywrapper'>
 		{{=A(IMG(_src=URL(c='default',f='download',args=squad.image), _width="960"),)}} 
                 
        <h3>Members</h3>
        <table class="squaddroptable">
        <thead>
        <tr style="background-color:#fff720;" >
            <th> {{if gpart.squad_title:}}{{=gpart.squad_title}}{{else:}}Squad Leader{{pass}}  <INPUT type="button" class="button" value="Change" onclick="location.href='{{=URL(c='gamectrl', f='squadtitlechange', args=[gpart.id])}}'"/></th>
            <th>{{=A(db.auth_user(lid).first_name + ' ' + db.auth_user(lid).last_name,  _href=URL(c='default',f='userinfo', args=lid))}}</th>

            
                
        </tr>
    {{if members:}}
    {{ for member in members: }}
        {{uid=member.user_id}}
       
        <tr {{if db.creature_type(member.creature_type).zombie:}} style="background-color:#9A1C19" {{else:}} style="background-color:#9AC548;" {{pass}}>
            <th>{{if member.squad_title:}}{{=member.squad_title}}{{else:}}Member{{pass}}   <INPUT type="button" class="button" value="Change" onclick="location.href='{{=URL(c='gamectrl', f='squadtitlechange', args=[member.id])}}'"/>
    </th>
        <th> {{=A(db.auth_user(uid).first_name + ' ' + db.auth_user(uid).last_name,  _href=URL(c='default',f='userinfo', args=uid))}}
        <INPUT type="button" class="button" value="Kick" onclick="location.href='{{=URL(c='gamectrl', f='kickmember', args=[member.id])}}'"/>
        </th>

        </tr>
                    
    {{pass}}
    {{pass}}
        </thead>
    </table>
{{if squadsmemapp:}}
        <h3>Squad Member Applications</h3>
        <table class="squaddroptable" >
        <thead>

    {{ for smember in squadsmemapp: }}
        {{uid=db.game_part(smember.player_id).user_id}}
       
        <tr style="background-color:#3FA6AB">

        <th> {{=A(db.auth_user(uid).first_name + ' ' + db.auth_user(uid).last_name,  _href=URL(c='default',f='userinfo', args=uid))}}</th>
<th><INPUT type="button" class="button" value="Approve" onclick="location.href='{{=URL(c='gamectrl', f='approvesquadmemberapp', args=[smember.id])}}'"/>
    <INPUT type="button" class="button" value="Deny" onclick="location.href='{{=URL(c='gamectrl', f='denysquadmemberapp', args=[smember.id])}}'"/></th>
        </tr>
                    
    {{pass}}
    {{pass}}
         </thead>
    </table>
    <h3>Manage Notices</h3>
	{{for post in posts:}}
		<a href= "{{=URL(r=request, f='editsquadpost', args=post.id)}}"><div class="postcontainer" style="border-bottom:1px dotted black;">{{=post.title}}</div></a>
	{{pass}}
	<a href= "{{=URL(r=request, f='createsquadpost', args=[squad.id])}}"><div class="postcontainer" style="border-top:2px solid black;">Create a Notice</div></a>

</div> 
 



    

{{include 'footer.html'}}
