{{extend 'layout.html'}}


{{block layer01}}

<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 col-sm-offset-1 col-lg-offset-1">

            <div class="jumbotron" style="background-color:#181818;border-radius: 5px;">
                <h1>{{=squadinfo.name}}</h1>

                {{try:}}
                <p>{{=session.flash}}</p>
                {{session.flash = ''}}
                {{except:}}

                {{pass}}


                {{if form:}}
                <div class='inline'>
                    {{=form}}
                </div>
                {{pass}}
            </div>
        </div>
    </div>

    {{end}}

