{{extend 'layout.html'}}


{{block layer01}}


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <h1><b>{{=squad.name}}</b></h1>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">

                {{if players:}}
                <table class='table table-striped'>
                    <tr>
                        <th colspan="3" style="color:white;">
                            <h3><span class="label center-block">Members</span></h3>
                        </th>
                    </tr>
                    <tr>
                        <td> Name</td>
                        <td> Title</td>
                        <td> Status</td>
                    </tr>
                    {{for player in players:}}
                    <tr data-toggle="tooltip" data-placement="top" title="{{=pretty_date(player.game_part.zombie_expires_at)}}">
                        <td>
                            {{if player.auth_user.handle:}}
                            {{=A(player.auth_user.handle, _href=URL(c='default',f='userinfo',args=player.auth_user.id))}}
                            {{else:}}
                            {{=A(player.auth_user.first_name + ' ' + player.auth_user.last_name,
                            _href=URL(c='default',f='userinfo', args=player.auth_user.id))}}
                            {{pass}}


                        </td>

                        <td>
                            {{if player.game_part.squad_title:}}
                                {{if len(player.game_part.squad_title) > 35:}}
                                    <small>{{=player.game_part.squad_title}} </small>
                                {{else:}}
                                {{=player.game_part.squad_title}}
                                {{pass}}
                            {{else:}}
                            Member
                            {{pass}}


                        </td>

                        <td>{{=player.creature_type.name}}</td>
                    </tr>
                    {{pass}}
                </table>
                {{pass}}

            </div>
            <div class="col-md-7">


                <p>{{=XML(squad.description,sanitize=True)}}</p>
            </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              {{if app:}}
<div class="sqdesc"><INPUT type="button" class="btn btn-success btn-lg btn-block" value="Apply to join!" onclick="location.href='{{=URL(c='squad', f='applytosquad',args=[squad.id,gpart.game_part.id])}}'"/></div>
              {{pass}}

            </div>
        </div>


        <div class="row">

            <hr class="featurette-divider">
            <div class="col-md-7">
                <h2 class="featurette-heading"><span class="text-muted"></span></h2>


            </div>
            <div class="col-md-5">

            </div>
        </div>


        <hr class="featurette-divider">


    </div>


</div>


{{end}}

{{block postfooter}}


{{end}}
