{{extend 'layout.html'}}


{{block layer01}}


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <h1><b>{{=squad.name}}</b></h1>
        </div>
        <hr class="featurette-divider">

        <div class="row"> <!-- WRAPPER for top row -->

            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6">

                    {{if members:}} <!-- START of members display logic-->
                    <h2 class="sub-header">Members<span class="text-muted"></span></h2>

                    <div class="panel">
                        <table class='table table-striped'>
                            <thead>
                            <tr>
                                <th> Name</th>
                                <th> Title</th>
                                <th> Status</th>

                            </tr>
                            </thead>
                            <tbody>
                            {{for member in members:}} <!-- START of members for loop -->


                            <tr>

                                <td>
                                    {{if member.auth_user.handle:}} <!-- standard fullname or handle display logic -->
                                    {{=A(member.auth_user.handle,
                                    _href=URL(c='default',f='userinfo',args=member.auth_user.id))}}
                                    {{else:}}
                                    {{=A(member.auth_user.first_name + ' ' + member.auth_user.last_name,
                                    _href=URL(c='default',f='userinfo', args=member.auth_user.id))}}
                                    {{pass}}


                                </td>

                                <td>


                                    {{if member.game_part.squad_title:}}
                                    <!-- squad title logic, will truncate obnoxiously long titles -->
                                    {{if len(member.game_part.squad_title) > 35:}}
                                    <small>{{=member.game_part.squad_title}}</small>
                                    {{else:}}
                                    {{=member.game_part.squad_title}}
                                    {{pass}}
                                    {{elif member.game_part.squad_leader:}}
                                    <h4>Squad Leader</h4>
                                    {{else:}}
                                    Member
                                    {{pass}}


                                </td>

                                <td>
                                    <p>{{=member.creature_type.name}}</p>
                                    {{if member.creature_type.zombie and not member.creature_type.immortal:}}
                                    <!-- Logic to display starvetimer for regular zeds -->
                                    <small> Starve@ {{=pretty_date(member.game_part.zombie_expires_at)}}</small>
                                    {{pass}}


                                </td>
                            </tr>
                            {{pass}} <!-- END of members for loop -->

                            </tbody>

                        </table>

                    </div>
                    {{pass}} <!-- END of members display logic-->

                </div>


                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h2 class="sub-header">Squad Notices<span class="text-muted"></span></h2>

                    {{for post in posts:}}
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3>{{=post.title}}</h3></div>
                        <div class="panel-body">
                            <p>{{=XML(post.description,sanitize=False,permitted_tags=['a', 'b', 'blockquote', 'br/', 'i', 'li','ol', 'ul', 'p', 'cite', 'code', 'pre', 'iframe', 'img/'],allowed_attributes={'iframe':['width','height','scrolling','frameborder','src',''],'a':['href', 'title'],'img':['src', 'alt'], 'blockquote':['type']})}}</p>
                        </div>

                        <div class="panel-footer"><p><em>{{=pretty_date(post.created)}}</em></p></div>
                    </div>
                    {{pass}}
                </div>

            </div>


        </div>
        <!-- END WRAPPER for top row -->


    </div>


    <div class="row"> <!-- WRAPPER for bottom row -->

        <hr class="featurette-divider">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Squad Description</h3></div>
                <div class="panel-body">
                    <p>{{=XML(squad.description,sanitize=True)}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">

        </div>
    </div>
    <!-- END WRAPPER for bottom row -->


    <hr class="featurette-divider">

</div>



{{end}}

{{block postfooter}}


{{end}}
